:root{
    --blue-oscuro: #1F3FE9;
    --blue-clarito: #081558;
    --yellow: #FAFF00;
    --black: #000000;
    --purple: #2239AE;
    --warm-black: #332A2A;
    --gray: #F1F1F1;
    --white: #FFFFFF;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    text-align: center;
    background: linear-gradient(126.32deg, #1F3FE9 21.29%, rgba(8, 21, 88, 0.87) 83.71%);
    width: 100%;
    min-height: 505px;
    height: 505px;
    
}

.header-logo{
    width: 123px;
    height: 114px;
    margin-top: 39px;
}


.container-header-title{
    padding: 0 20px;
}

.container-header-title h1{
   font-size: 2.4rem;
   font-weight: 600;
   color: var(--white); 
   line-height: 3.6rem;
   padding-top: 19px;
}

.container-header-title p{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white); 
    line-height: 2.1rem;
    padding-top: 19px;
    padding-bottom: 50px;
 }


 .boton_header{
     background-color: var(--yellow);
     width: 100px;
     height: 41px;
     border-radius: 8px;
     margin: 0 auto;
     padding: 11px 5px;
     box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.35);
 }
 
.boton_header a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 700;
 }

.ondas{
    width: 100%;
    top: 100%;
}


.onda2{
    position: absolute;
    width: 100%;
    min-height: 53px;

    background-image: url(./assets1/ondas_header2.svg);
    background-repeat: no-repeat;
    background-size: cover;

    top: calc(100% - 53.12px);
    left: -0%;
}

.onda1{
    position: absolute;
    width: 100%;
    min-height: 53.12px;

    background-image: url(./assets1/ondas-header-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

    top: calc(100% - 52.12px);
    left: -0%;
     
 }

 .icon1{
    background-image: url(./assets1/img-header.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 44.79px;
    height: 36.46px;

    position: absolute;
    transform: translate(200%, -1000%);
 }

 .icon2{
    background-image: url(./assets1/img-header.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 44.79px;
    height: 36.46px;

    position: absolute;
    transform: translate(-300%, -100%);
 }

 /* Aqui empieza la sección de servicios */

.main-container-servicios{
     background-color: var(--gray);
     width: 100%;
     height: auto;
     text-align: center;
     padding-bottom: 40px;
     
 }

 .main-container-servicios h2{
     font-size: 1.8rem;
     font-weight: 600;
     line-height: 2.452rem;
     color: var(--black);
     margin: 0 27px;
    
     padding-top: 43px;
     padding-bottom: 60px;

 }


 .servicios--edictos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;

    margin: 0 auto;
    margin-bottom: 55px;
    padding: 20px;

     background-color: var(--white);
     width: 290px;
     min-width: 290px;
     height: 122px;
     border: 1px solid #1F3FE9;
     border-radius: 10px;
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
   
 }

.servicios--edictos:hover{
    box-shadow: 0px 0px 15px 0px #000000;
    
}

.servicios--otros:hover{
    box-shadow: 0px 0px 15px 0px #000000;
    
}

 .servicios--otros{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;

    margin: 0 auto;
    
    padding: 20px;

     background-color: var(--white);
     width: 290px;
     min-width: 290px;
     height: 145px;
     border: 1px solid #1F3FE9;
     border-radius: 10px;
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
   
 }

.servicios-img{
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-100%, -50%);

    width: 49px;
    height: 51px;    
}

.edicto-img{
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-110%, -50%);
    width: 46px;
    height: 47px;
}

.avisos-img{
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-117%, -50%);
    width: 44px;
    height: 40px;
}

.clasficados-img{
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-110%, -50%);
    width: 52px;
    height: 54px;
}

.corresponsal-img{
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-141%, -50%);
}

.otros-img{
    position: absolute;
    top: 0%;
	left: 25%;
	transform: translate(-117%, -50%);
    width: 52px;
    height: 54px
}

.servicios-titulo{

     font-size: 1.4rem;
     font-weight: 600;
     padding-bottom: 7px;
 }

.servicios-parrafo{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;

    
}


/* Seccion de la imagen del celular */


.main-container-image{
    width: 100%;
    height: 218px;
    /* background-color: var(--purple); */
    position: relative;
    
}

.image-mobile{
    width: 100%;
    height: 218px;
    background-image: url(./assets1/cellphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    color: var(--white);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    
}

.onda-celular{
    background-image: url(./assets1/onda-celular.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    width: 100%;
    height: 112.82px;
    position: absolute;

    top: calc(100% - 112.2px);
    left: -0%;
}


/* Sección de los periodicos */

.main-container-newspaper{
    width: 100%;
    height: auto;
    background-color: var(--gray);
    text-align: center;
    padding: 30px 20px;
}

.main-container-newspaper h1{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 45px;

}

.container-periodicos{
    height: auto;
}

.periodico{
    padding-bottom: 30px;
}


.republica{
    width: 100px;
    height: 120px;
}

/* Seccion del footer */

.main-container-footer{
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
    padding: 46px 41px;
}


.footer-block{
    width: 100%;
    height: auto;
}

.footer-block h4{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-block p{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 200;
    padding-bottom: 10px;
}


