

.onda-celular{
    background-image: none;
}
.image-mobile{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.img-header{
    
    transform: rotateY(154deg) translate(80%,0px);
}




.container-header-title h1{
    max-width: 60%;
}